# Random Forests on 1985 Auto Imports

In [12]:
# import libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [25]:
# upload data file, view to
path = (r"C:\Users\Jwpel\Downloads")
filename = "\1985_auto_imports.csv"
df = pd.read_csv(r"C:\Users\Jwpel\Downloads\1985_auto_imports.csv")
df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,115,0,1,0,1,0,2,0,88.6,...,130,5,3.47,2.68,9.0,111,5000,21,27,13495
1,3,115,0,1,0,1,0,2,0,88.6,...,130,5,3.47,2.68,9.0,111,5000,21,27,16500
2,1,115,0,1,0,1,2,2,0,94.5,...,152,5,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,1,1,0,0,3,1,0,99.8,...,109,5,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,1,1,0,0,3,0,0,99.4,...,136,5,3.19,3.40,8.0,115,5500,18,22,17450

In [26]:
# data shape
df.shape

(205, 26)

In [27]:
# info on columns, combination of int and float, no missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
symboling            205 non-null int64
normalized_losses    205 non-null int64
make                 205 non-null int64
fuel_type            205 non-null int64
aspiration           205 non-null int64
num_doors            205 non-null int64
body_style           205 non-null int64
drive_wheels         205 non-null int64
engine_location      205 non-null int64
wheel_base           205 non-null float64
length               205 non-null float64
width                205 non-null float64
height               205 non-null float64
curb_weight          205 non-null int64
engine_type          205 non-null int64
num_cylinders        205 non-null int64
engine_size          205 non-null int64
fuel_system          205 non-null int64
bore                 205 non-null float64
stroke               205 non-null float64
compression_ratio    205 non-null float64
horsepower           205 non-null int64
peak_rpm             205 non-null int64
city_mpg             205 non-null int64
highway_mpg          205 non-null int64
price                205 non-null int64
dtypes: float64(7), int64(19)
memory usage: 41.7 KB

In [31]:
# assign independent variables 
X = df.drop(["price"], axis=1)
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 25 columns):
symboling            205 non-null int64
normalized_losses    205 non-null int64
make                 205 non-null int64
fuel_type            205 non-null int64
aspiration           205 non-null int64
num_doors            205 non-null int64
body_style           205 non-null int64
drive_wheels         205 non-null int64
engine_location      205 non-null int64
wheel_base           205 non-null float64
length               205 non-null float64
width                205 non-null float64
height               205 non-null float64
curb_weight          205 non-null int64
engine_type          205 non-null int64
num_cylinders        205 non-null int64
engine_size          205 non-null int64
fuel_system          205 non-null int64
bore                 205 non-null float64
stroke               205 non-null float64
compression_ratio    205 non-null float64
horsepower           205 non-null int64
peak_rpm             205 non-null int64
city_mpg             205 non-null int64
highway_mpg          205 non-null int64
dtypes: float64(7), int64(18)
memory usage: 40.1 KB

In [32]:
# assign target variable
y = df["price"]

In [34]:
# split the dataset between training and test data
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=150, random_state=9)

In [47]:
# create Random Forest Regressor model
regr_rf = RandomForestRegressor(max_depth=None, random_state=2, n_estimators=100)
regr_rf.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
           oob_score=False, random_state=2, verbose=0, warm_start=False)

In [48]:
# assign prediction variable
rf_pred = regr_rf.predict(X_test)
rf_pred

array([12243.1425    ,  7030.1       , 12226.88      , 37548.        ,
        7859.33      , 15693.985     ,  9364.72666667,  7296.01      ,
       10567.07      ,  6866.48      , 15161.98      , 16348.74      ,
        8414.34666667, 11603.56666667, 13187.04      ,  8209.06333333,
       16775.58      ,  6266.1       ,  8755.77      , 12884.55      ,
       14931.41      ,  7222.31      , 20359.05      ,  8107.85      ,
       15860.64      , 35258.74      ,  6019.7       ,  6832.62      ,
        9010.87      ,  7908.08      , 18285.8       , 13187.04      ,
       11570.16      ,  5931.18      ,  8897.14666667,  6863.55      ,
        6444.91      , 10564.96      ,  8364.1       , 19850.13333333,
        9303.4725    , 16594.92      ,  7750.41      , 10436.36      ,
        5663.79      , 10679.1       , 33466.28      ,  8084.58      ,
       18424.03      , 14762.09      , 36132.57      , 10330.46666667,
        6444.91      ,  8245.93      , 16511.2       ])

In [50]:
# import r2_score, r2 score results
from sklearn.metrics import r2_score
accuracy = r2_score(y_test, rf_pred)
accuracy

0.9336042102227284